.blog1{
    /* background-color: red; */
    width: 50%;
    margin-left: 20%;
}
.b-par{
    /* background-color: red; */
    width: 70%;
}
#g-img7{
 width: 40%;
 /* height: 50%; */
 border-radius: 10%;
 align-items: center;
 padding-top: 50px;
}
#blog-p{
    /* background-color: red; */
    padding: 10px;
}
.g-prep{
    display:flex ;
    /* height: 40%; */
}
#step{
 
 margin-top: 70px;
 margin-left: 20px;
}

#g-h3{
    /* background-color: red; */
    margin-top: 50px;
}