.all{
    background-color: #111827;
    width: 80%;
    height: 100%;
}
.text{
    color: aliceblue;
}
.header {
  /* background-color: #ffffff; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}



/* Search Component */
.search-bar {
  text-align: center;
  width: 250px;
  height: 40px;
  border: 1px solid #f4b14d;
  outline: none;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  
}

/* Navigation */
.nav {
  /* background-color: #f4b14d; */
  color: white;
  display: flex;
  gap: 2rem;
  padding: 10px;
  justify-content: center;
}
.nav a:hover {
  background-color: hsl(76, 29%, 15%);
  border: solid 1px rgb(159, 56, 56);


}
.nav a {
  color: inherit;
  text-decoration: none;
  border: solid 1px whitesmoke;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
}
/* .card {
  border: solid 1px rgb(160, 64, 64);
  padding: 15px;
  width : 20%;
  margin: 1%;
  border-radius: 35px;
} */
/* .card {
  /* border: solid 1px #14b8a6; */
  /* padding: 15px;
  width : 20%;
  margin: 1%;
  border-radius: 35px;
} */ 
.favourite{
  background-color: #a91919;
   border-radius: 10px;
}
.favourite:hover {
  background-color: #caa5ea;
  color: white;
}
.button {
  background-color: #f4b14d;
  border-radius: 10px;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}
.header{
  background-color: #111827;
  color: bisque;
  padding: 0px;
}
.text-wrap{
  color: rgb(215, 250, 221);
}
.fav-button {
  background-color: rgb(157, 215, 32);
  border-radius: 10px;
}
.fav-button:hover {
  background-color: #a91919;
  color: white;
}
.view {
  flex: right;
  color: #fff;
}
.view:hover{
  flex-grow: unset;
 color: #4CAF50;
 font-size: 20px;
}
.whole{
  width: 80%;
  margin: auto;
    display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
 }