/* @import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata)
body {
    background: linear-gradient(to right,#2dd553,#f8ca24);
    overflow-x:hiidden;
}
.container {
    background: #fff;
    width: 480px;
    height:350px;
    margin:0 auto;
    position:relative;
} */